{% extends "base.html" %} {% block content %}
<form class="row g-2" action="post" target="login">
  <div class="form-floating col-12 col-sm-4 col-md-2">
    <input
      id="username"
      class="form-control"
      placeholder="User name"
      type="text"
    />
    <label for="username">User name</label>
  </div>
  <div class="form-floating col-12 col-sm-4 col-md-2">
    <input
      id="password"
      class="form-control"
      placeholder="Password"
      type="password"
    />
    <label for="password">Password</label>
  </div>
  <button class="btn btn-primary col-12 col-sm-2 col-lg-1" type="submit">
    Login
  </button>
</form>
<p class="my-3">Or</p>
<a class="btn btn-secondary" href="register">Register new account</a>
{% endblock %}
