{% extends "base/_base.html" %} {% block content %}
{% include "base/search/_flight_search_box.html" %}
<section>
  <h1 class="display-6">Results</h1>
  <div class="d-flex flex-column gap-3">
    {% for flight in flights %}
    <div class="card">
      <a href="flight/{{flight.flight_id}}"
         class="text-reset text-decoration-none">
        <div class="row g-0">
          <div class="col-md-2">
            <img class="img-fluid rounded w-100 h-100"
                 src="https://images.unsplash.com/photo-1466691623998-d607fab1ca29?q=80&w=1480&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
                 alt="Airport" style="object-fit: cover;">
          </div>
          <div class="col-md">
            <div class="card-body">
              <div class="card-title">
                <div class="lead">{{ flight.departure_date }}</div>
                <div class="h2">{{ flight.name }}</div>
              </div>
              <div class="card-text lead">
                <div class="row">
                  <div class="col-12 col-md d-flex flex-column mb-2">
                    <div class="fw-bold mb-2">{{ flight.company_name }}</div>
                    <div>{{ flight.departure_time }}</div>
                    <div class="fw-bold ms-2">
                      {{ flight.departure_airport }}
                    </div>
                    <div>↓</div>
                    <div>{{ flight.arrival_time }}</div>
                    <div class="fw-bold ms-2">
                      {{flight.arrival_airport }}
                    </div>
                  </div>
                  <div class="col-12 col-md d-flex flex-column">
                    <div class="fw-bold">Reservation Status</div>
                    <div class="ms-2">
                      <div>Economy class</div>
                      <div>{{ flight.economy_class_seats_available }} /
                        {{ flight.economy_class_seats_total }}</div>
                      <div>Business class</div>
                      <div>{{ flight.business_class_seats_available }} /
                        {{ flight.business_class_seats_total }}</div>
                      <div>First class</div>
                      <div>{{ flight.first_class_seats_available }} /
                        {{ flight.first_class_seats_total }}</div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </a>
    </div>
    {% empty %}
    <div>No result found.</div>
    {% endfor %}
  </div>
</section>
{% endblock %}