{% extends "base.html" %} {% block content %}
<section class="my-2">
  <h1 class="display-6">Search for Flights</h1>
  <div class="px-4 py-3 border rounded">
    <!-- <form action="" method="post"> -->
    <datalist id="searchAirport">
      {% for airport in available_airports %}
      <option
        value="{{ airport.name }} ({{ airport.iata_code }})"
        data-airport-id="{{ airport.id }}"
      ></option>
      {% endfor %}
    </datalist>
    <div class="row g-2">
      <div class="form-floating col-12 col-md-6 col-xl">
        <input
          id="searchDepartureAirports"
          class="form-control"
          list="searchAirport"
          placeholder="Departure airport"
          required
        />
        <label for="searchDepartureAirport" class="form-label fs-6"
          >Departure airport 🛫</label
        >
      </div>
      <div class="form-floating col-12 col-md-6 col-xl">
        <input
          id="searchArrivalAirport"
          class="form-control"
          list="searchAirport"
          placeholder="Arrival airport"
          required
        />
        <label for="searchArrivalAirport" class="form-label"
          >Arrival airport 🛬</label
        >
      </div>
      <div class="form-floating col-12 col-md-6 col-xl">
        <input
          id="searchDateStart"
          class="form-control"
          type="date"
          max="3000-12-31"
          value="2024-01-01"
          required
        />
        <label for="searchDateStart" class="form-label">Date from</label>
      </div>
      <div class="form-floating col-12 col-md-6 col-xl">
        <input
          id="searchDateEnd"
          class="form-control"
          type="date"
          max="3000-12-31"
          value="2024-03-31"
          required
        />
        <label for="searchDateEnd" class="form-label">Date to</label>
      </div>
      <div class="col-12 col-xl-2">
        <button class="btn btn-primary w-100 h-100" type="submit">
          <span>Searching...</span>
          <span class="spinner-grow spinner-grow-sm" aria-hidden="true"></span>
        </button>
      </div>
    </div>
  </div>
</section>
<!-- </form> -->
<section class="my-2">
  <h1 class="display-6">Reserved Flights</h1>
  <p>Nothing</p>
</section>
{% endblock %}
